.comment_container {
    margin: 0;
    width: 340px;
    min-height: 315px;
    padding: 25px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.user_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 768px) {
    .comment_container {
        max-width: 300px;
        min-height: 315px;
    }
}

@media (max-width: 320px) {
    .comment_container {
        max-width: 290px;
    }
}