@font-face {
    font-family: 'Graphik LCG';
    src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
        url('@/assets/fonts/GraphikLCG/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
        url('@/assets/fonts/GraphikLCG/GraphikLCG-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik LCG';
    font-weight: normal;
    color: #191C1F;
}

.bold {
    font-weight: 600;
}

.size_18 {
    font-size: 18px;
    line-height: 32px;
}

.size_16 {
    font-size: 16px;
    line-height: 28px;
}

.size_14 {
    font-size: 14px;
    line-height: 24px;
}

.size_12 {
    font-size: 12px;
    line-height: 16px;
}